<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>상품 데이타 출력</h1>

    <div>
        상품명 : <span th:text="${itemDto.getItemNm()}"></span>
    </div>

    <div>
        상품상세설명 : <span th:text="${itemDto.itemDetail}"></span>
    </div>

    <div>
        상품가격 : <span th:text="${itemDto.price}"></span>
    </div>

    <div>
        상품등록일 : [[${itemDto.regTime}]]
    </div>

    <div>
        상품등록일2 : [[${itemDto.getRegTime()}]]
    </div>

</body>
</html>